<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles.css">
    <style>
        body{
        background-image:url('https://wallpaper-house.com/data/out/10/wallpaper2you_391579.jpg');
        background-repeat:no-repeat;
        height:100vh;
        background-size:cover;
        }
    </style>
    <title>Title</title>
</head>
<body class="body">
<nav class="navbar navbar-expand-lg navbar-dark bg-gradient-to-l from-fuchsia-500 to-red-400 py-3 mt-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Automation Invigilation Duties</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="" id="navbarColor02">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/allFaculty">View Faculty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/timetable">View DutyList</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
