<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/styles.css">
  <style>
        body{
        background-image:url('https://wallpaper-house.com/data/out/10/wallpaper2you_391579.jpg');
        background-repeat:no-repeat;
        height:100vh;
        background-size:cover;
        }
    </style>
  <title>Title</title>
</head>
<body class="body">
<nav class="navbar navbar-expand-lg navbar-dark bg-gradient-to-l from-blue-500 to-green-600 py-3 ">
  <div class="container-fluid">
    <a class="navbar-brand text-3xl" href="/">Automation Invigilation Duties</a>
  </div>
</nav>
</body>
</html>